.card {
    position: relative;
    border-radius: 14px;
    background-color: var(--white-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: .5s transform;
}

.card:hover{
    transform: translateY(-8px);
}

.rating {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--white-color);
    padding: 8px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating i {
    color: #FFC529;
}

.rating span {
    font-size: var(--small-size);
    color: var(--secondory-color);
    opacity: .8;
}

.heart {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 10px 6px 10px;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: var(--shadow-hover);
}

.heart i {
    font-size: 20px;
}

.card img {
    border-radius: 12px 12px 0px 0px;
    width: 350px;
    height: 210px;
}

.title__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 16px 10px;
}

.card__title {
    font-weight: 500;
    font-size: var(--normal-size);
    line-height: 30px;
    color: #000000;
}

.price {
    color: var(--primary-color);
    font-weight: var(--normal-font-weight);
    font-size: var(--normal-size);
}

.time{
    display: flex;
    align-items: center;
    gap: 10px;
}

.time i {
    color: var(--primary-color);
}

.time span{
    color: var(--secondory-color);
}

.food__type{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.type{
    background-color: #FFE8E1;
    padding: 8px 10px;
    border-radius: 10px;
    color: #8A8E9B;
}

.add{
    padding: 10px 16px;
    border-radius: 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: var(--shadow-hover);
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}



/* mobile screen */
/* mobile screen */

@media (max-width:420px) {
    .card{
        width: 320px;
    }
}

/* small mobile screen */
/* small mobile screen */

@media (max-width:320px) {
    .card{
        width: 260px;
    }

    .add{
        bottom: -16px;
        padding: 6px 10px;
        font-size: 14px;
    }

}